:root {
    --primary: #f1f1f1;
    --secondary: rgba(131, 131, 131, 0.4);
    --tertiary: rgba(73, 73, 73, 0.6);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {  
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary);
}